html, body {
    height: 100%;
}

.h100 {
    height: 100%;
}
.h25 {
    height: 25%;
}
.h75 {
    height: 75%;
}
.h50 {
    height: 50%;
}

.cam {
	position: absolute;
	width: 50%;
	height: 50%;
	background-size: 100%;
	padding:10px; 
}